.*
~*
__pycache__
!.dockerignore
!.dockerignoredo
!.git
!.tx
!.semgrep
!.python-version
!.github/
!.gitignore
!.pre-commit-config.yaml
!.gitattributes
!.importlinter
!tests/.coveragerc
!docs/**/.pages
DATA
junit.xml
coverage.xml

src/hope_control_manager/version.py

node_modules/
dist/
